{% extends 'base.html' %}

{% block title %}
Добавление кадрa
{% endblock %}

{% block body %}
<form action="/add" method="post" class="form-horizontal" enctype="multipart/form-data">
    <div class="controls">
        <input class="file" id="fileInput" type="file" name='file'>
    </div>
    <div class="controls">
        <input type="hidden" name="movie_id" id="hidden_id">
        <input type="hidden" name="movie_name" id="hidden_name">
        <input type="text" class="span4 typeahead" placeholder="Введите название фильма…" style="margin: 0 auto;"
               data-provide="typeahead" data-items="4">
    </div>
    <div class="controls">
        <div class="control-group success">
            <button type="submit" class="btn" id="submitBtn">Добавить</button>
            <span class="help-inline">{{ result }}</span>
        </div>
    </div>
</form>
<script type="text/javascript">
    $('.typeahead').typeahead({
        source:function (typeahead, query) {
            var callbackFunc = function (data) {
                typeahead.process(data);
            }
            $.get('http://api.themoviedb.org/2.1/Movie.search/ru/json/a3dc111e66105f6387e99393813ae4d5/' + query, {}, callbackFunc, 'jsonp');
        },
        onselect:function (val) {
            $('#hidden_id').val(val.id);
            $('#hidden_name').val(val.name);
        },
        property:'name'
    });
</script>
{% endblock %}